/* ----BASE--------- */
body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #ffffff;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1152px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----HEADER-------------------- */

.header>.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 140px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #6b6b6b;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
}

.icon-logo-header {
  position: relative;
  width: 97px;
  height: 20px;
  stroke: #ffffff;
  fill: #ffffff;
  z-index: 2000;
}

.icon-logo-header:hover,
.icon-logo-header:active,
.icon-logo-header:focus {
  fill: #333333;
  stroke: #333333;
}

.nav-list-header {
  display: flex;
  align-items: center;
}

.nav-list {
  color: #ffffff;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 25px 20px;
}

.nav-list:hover,
.nav-list:active,
.nav-list:focus {
  background-color: #ffffff;
  color: #333333;
}

/* ---------------------------------------------------------------- */

/* ---HERO SECTION------------------------------------ */

.hero-section {
  background-color: #EBEBEB;
  padding: 68px 0;
}

.hero-container {
  display: flex;
}

.hero-main-text {
  padding-top: 18px;
  align-self: center;
}

.hero-title {
  font-weight: 500;
  font-size: 40px;
  color: #333333;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.hero-p {
  font-weight: 400;
  font-size: 17px;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 576px;
  margin-bottom: 30px;
}

.hero-button {
  color: black;
  background-color: #ffffff;
  padding: 15px 25px;
  min-width: 377px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: Roboto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #6b6b6b;
  color: #ffffff;
}



.hero-with-pic {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  padding: 0 128px;
}

.hero-p-under-pic {
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 320px;
}

/* ---------------------------------------------------------------- */

/* ---LOGOS SECTION------------------------------------ */

.logos-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #D3D3D3;
}

.list-row-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos-section>.list-row-logos {
  padding: 11px 10px;
}

.icon-appleinc {
  width: 50px;
  height: 52px;
  stroke: #ffffff;
  fill: #ffffff;
}

.icon-html-five {
  width: 50px;
  height: 52px;
  stroke: #ffffff;
  fill: #ffffff;
}

.icon-amazon {
  width: 54px;
  height: 52px;
  stroke: #ffffff;
  fill: #ffffff;
}

.icon-youtube2 {
  width: 140px;
  height: 56px;
  stroke: #ffffff;
  fill: #ffffff;
}

.icon-windows8 {
  width: 54px;
  height: 52px;
  stroke: #ffffff;
  fill: #ffffff;
}

.icon-paypal {
  width: 54px;
  height: 52px;
  stroke: #ffffff;
  fill: #ffffff;
}

.icon-github {
  width: 54px;
  height: 49px;
  stroke: #ffffff;
  fill: #ffffff;
}

.icon-google-plus {
  width: 62px;
  height: 60px;
  stroke: #ffffff;
  fill: #ffffff;
}

.icon:hover {
  fill: #333333;
  stroke: #333333;
}

/* ---------------------------------------------------------------- */

/* ---CLASS SECTION------------------------------------ */

.class-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.list-class {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1152px;
}

.class-list-item1 {
  width: 576px;
  padding: 69px 47px 96px 20px;
}

.title-list-class1 {
  margin-bottom: 14px;

  width: 234px;
  color: #000;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.p-list-class1 {
  width: 509px;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.class-item-pic1 {
  display: flex;
  width: 576px;
  height: 311px;
  padding: 0px 168px 10.25px 168px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.class-p-underpic1 {
  width: 197px;
  color: #777;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.class-item-pic2 {
  display: flex;
  width: 576px;
  height: 249px;
  padding: 15.75px 136px 26.25px 136px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.class-p-underpic2 {
  width: 304px;
  color: #777;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.class-list-item2 {
  width: 576px;
  height: 249px;
  flex-shrink: 0;
  padding: 68.75px 36px 58.25px 20px;
}

.title-list-class2 {
  width: 388px;
  color: #000;
  font-family: Roboto;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 14px;
}

.p-list-class2 {
  width: 520px;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.button-class-sec {
  padding: 10px;
  background-color: #3B79C3;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  margin: 0 5px;
}

.button-class-sec:hover {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #000;
}